<!-- footer
================================================== -->
<footer>

<div class="row">

    <div class="twelve columns">

        <ul class="footer-nav">
                <li><a href="{% url 'home' %}">Home.</a></li>
            <li><a href="{% url 'ads_page' %}">Ads</a></li>
            <li><a href="{% url 'about' %}">About.</a></li>
            
            </ul>

        <ul class="footer-social">
            <li><a href="https://www.instagram.com/earnbyads"><i class="fa fa-instagram"></i></a></li>
        </ul>

        <ul class="copyright">
            <li>Copyright &copy; 2020 EarnByAds</li> 
            <li>Design by <a href="https://www.earnbyads.ga/">EarnByAds</a></li>               
        </ul>

    </div>

    <div id="go-top" style="display: block;"><a title="Back to Top" href="#">Go To Top</a></div>

</div>

</footer> <!-- Footer End-->