{% extends 'base.html' %}
{% load static%}
{% block head %}
<script data-ad-client="ca-pub-5116295707390547" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}
{% block body %}

   <!-- Page Title
   ================================================== -->
   <div id="page-title">

    <div class="row">

       <div class="ten columns centered text-center">
          <h1>Welcome To Ads Page<span>.</span></h1>

          <p>Hey Hello Everyone Welcome To The Page Where Everyone Can Earn Money, So Everyone can earn money by watching ads</p>
       </div>

    </div>

 </div> <!-- Page Title End-->

 <!-- Content
 ================================================== -->
 <div class="content-outer">

    <div id="page-content" class="row portfolio">

       <section class="entry cf">

          <div id="secondary"  class="four columns entry-details">

             <h1>Ads For Today</h1>

             <p class="lead">Welcoming everyone again the instructions are quite simple for even a child of 7 years to follow.</p>

             <p>Go through every ad and then tap on each ad one by one so that you can earn your money or you won't get your daily income.</p>

          </div> <!-- Secondary End-->

          <div id="primary" class="eight columns portfolio-list">

             <div id="portfolio-wrapper" class="bgrid-halves cf">

                   <div class="columns portfolio-item first">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- EarnByAd-1 -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-5116295707390547"
                         data-ad-slot="6311072612"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                         (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>

                <div class="columns portfolio-item">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- EarnByAd-2 -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-5116295707390547"
                         data-ad-slot="1188708065"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                         (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>                                                                                                                                                                                                                                                                          

                <div class="columns portfolio-item first">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- EarnByAd-3 -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-5116295707390547"
                         data-ad-slot="4361666316"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                         (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>

                <div class="columns portfolio-item">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- EarnByAd-4 -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-5116295707390547"
                         data-ad-slot="7005686111"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                         (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>                                                                                                                                                                                                                                                                          

                <div class="columns portfolio-item first">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- EarnByAd-5 -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-5116295707390547"
                         data-ad-slot="2473869570"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                         (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>

                <div class="columns portfolio-item">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- EarnByAd-6 -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-5116295707390547"
                         data-ad-slot="5068243329"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                         (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>                                                                                                                                                                                                                                                                          


             </div>

          </div> <!-- primary end-->

       </section> <!-- end section -->

    </div> <!-- #page-content end-->

 </div> <!-- content End-->
{% endblock %}